#profile {
	float: left;
	margin: 29px 25px 10px 0;
}

#submitBtn {
	background: #4aaaa5;
	color: white;
	font-size: 1.125em;
	padding: 10px 20px;
	margin: 0;
	width: 20%;
	border: none;
}

h1 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 1.9em;
	color: #4aaaa5;
	font-weight: bold;
}

h2 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 1.4em;
	color: #4aaaa5;
	font-weight: bold;
}

p {
	line-height: 1.9;
    font-size: 1.125em;
    margin: 19px 0 0 0;
}

a {
	text-decoration: none;
	color: #999;
}

hr {
	border: 0;
	border-top: 3px solid #ddd;
	margin: 29px 0 0 0;
}

body {
	background-image: url("../images/concrete-seamless.png");
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777;
}

header {
	width: 100%;
	background: #fff;
	border-bottom: 2px solid #ccc;
	margin-bottom: 38px;
}

nav {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

main {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
}

section {
	width: 650px;
	border: 1px solid #ddd;
	float: left;
	background: white;
}

article {
	margin: 40px 30px 30px 30px;
}

aside {
	width: 270px;
	float: right;
	background: white;
	border: 1px solid #ddd;
}

ul {
	
}

li {
	display: inline-block;
}

form {
	font-size: 1.125em;
	margin: 27px 0 0 0;
}

label {
	
}

input, textarea {
	width: 97%;
	padding: 8px;
    margin: 8px 0 18px 0;
    font-size: 0.78em;
    color: #777;
    border: 1px solid #ddd;	
}

footer {
	background: #666;
	color: #ddd;
	margin-top: 42px;
	border-top: 8px solid #4aaaa5;
    padding: 40px;
    text-align: center;
    font-size: 0.8em;
}

.name {
	display: inline-block;
	color: #fff;
	padding: 30px 35px;
	background: #4aaaa5;
}

.navLinks {
	float: right;
	margin: 33px 0;
}

.navLink {
	padding: 0 17px;
	font-size: 1.14em;
	float: left;
}

.middleLink {
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

.lastLink {
	padding-right: 0;
}

.connect {
	margin: 30px 30px 38px 30px;
}

.connectHr {
	border: 0;
	border-top: 2px solid #ddd;
	margin: 20px 0 23px 0;
}

.socialMedia {
	text-align: center;
}

.mediaImg {
	width: 62px;
	height: 62px;
	margin: 0 2px;
}

.gallery li {
	background-size: cover;
	width: 200px;
	height: 150px;
}

.gallery li:nth-child(1){
	background-image: url("../images/monkey.jpg");
}

.gallery li:nth-child(2){
	background-image: url("../images/jungle.jpg");
}

.gallery li:nth-child(3){
	background-image: url("../images/tulum.jpg");
}

.gallery li:nth-child(4){
	background-image: url("../images/cenote.jpg");
}

.gallery li:nth-child(5){
	background-image: url("../images/la20.jpg");
}

::-webkit-input-placeholder {
    color:    #ccc;
}
:-moz-placeholder {
    color:    #ccc;
}
::-moz-placeholder {
    color:    #ccc;
}
:-ms-input-placeholder {
    color:    #ccc;
}





